<div th:fragment="contenido">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div th:if="${param.not_found}">
                            <p class="alert alert-danger alert-dismissible">No se encontró un usuario con ese correo</p>
                        </div>
                        <div th:if="${param.success}">
                            <p class="alert alert-info">Hemos enviado un enlace de verificación a tu correo electrónico, por favor verifica para completar tu solicitud.</p>
                        </div>
                        <div th:if="${param.error}">
                            <p class="alert alert-danger alert-dismissible" th:text="${param.error}"></p>
                        </div>
                        <div class="mb-4">
                            <h5>Olvidé mi contraseña</h5>
                        </div>
                        <form th:action="@{/registration/forgot-password}" method="post" class="px-4">
                            <div class="mb-3">
                                <label for="email" class="form-label">Ingresa tu correo electrónico.</label>
                                <input type="text" class="form-control" id="email" name="email" required autofocus="autofocus">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-success">Enviar correo.</button>
                                <a th:href="@{/login}" class="btn btn-primary mt-3">Volver.</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>