<!-- Contenido -->
<div class="container col-lg-6 col-md-6 col-sm-6 mt-5" th:fragment="contenido">

    <div class="row mt-4">
        <div th:if="${param.error}" class="col-sm-8">
            <p class="alert alert-danger alert-dismissible fade show" role="alert">Usuario o contraseña incorrectos.</p>
        </div>

        <div th:if="${param.reset_success}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible fade show" role="alert">Ha restablecido exitosamente su contraseña, inicie sesión aquí.</p>
        </div>

        <div th:if="${param.verified}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible fade show" role="alert">Esta cuenta ya ha sido verificada, inicie sesión aquí.</p>
        </div>
        <div th:if="${param.valid}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible">Correo electrónico verificado exitosamente, inicie sesión aquí.</p>
        </div>

        <!-- show logout warning alert when logged out. -->
        <div th:if="${param.logout}" class="col-sm-8">
            <p class="alert alert-warning">Has sido desconectado.</p>
        </div>
    </div>

    <h2 class="text-center">Iniciar sesión</h2>
    <br/>
    <form th:action="@{/login}" method="post" class="needs-validation">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required
                   autofocus placeholder="Ingrese su correo electrónico"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required autoFocus placeholder="Ingrese su contraseña"/>
        </div>
        <br/>
        <button type="submit" name="login" id="login" class="btn btn-primary mt-3">Entrar</button>
        <br>
        <span> ¿No estas registrado? <a th:href="@{/registration/form}">Registrate.</a> </span>
        <div class="vr"></div>
        <span><a th:href="@{registration/forgot-password-request}">Olvidé mi contraseña.</a> </span>
    </form>
</div>
<!-- Fin Contenido -->
