<div class="container mt-5" th:fragment="contenido">
    <div class="card bg-light bg-opacity-75">
        <div class="card-body">
            <h1 class="card-title text-center">¡Bienvenido a TaskBuddy!</h1>
            <p class="card-text">
                Tu aliado confiable para la gestión de tareas y productividad. En TaskBuddy, creemos en simplificar tu vida diaria, ayudándote a mantener tus tareas organizadas y lograr tus metas de manera eficiente.
            </p>
            <h2 class="card-title">Tu Tarea, Tu Camino:</h2>
            <p class="card-text">
                Inicia sesión y comienza a crear tus listas de tareas de inmediato. Personaliza tus proyectos, asigna fechas de vencimiento y mantén un seguimiento de tus avances. TaskBuddy está diseñado para adaptarse a tu estilo de trabajo único.
            </p>
            <h2 class="card-title">La Colaboración está en Nuestro Horizonte:</h2>
            <p class="card-text">
                Si bien TaskBuddy se centra actualmente en la gestión de tareas individuales, estamos emocionados de anunciar que estamos trabajando arduamente para habilitar la colaboración entre equipos en un futuro cercano. Imagina una plataforma que no solo te ayuda a organizarte mejor, sino que también te permite trabajar de manera más efectiva con tus compañeros de equipo.
            </p>
            <h2 class="card-title">Nuestra Misión:</h2>
            <p class="card-text">
                Nuestra misión es ayudarte a lograr más, reducir el estrés y aumentar tu productividad. Estamos comprometidos con la mejora continua de TaskBuddy para ofrecerte la mejor experiencia posible.
            </p>
            <p class="card-text">
                ¡Únete a la comunidad de TaskBuddy y comienza a conquistar tus tareas hoy mismo!
            </p>
            <p class="card-text">
                ¿Estás listo para la revolución de la gestión de tareas? ¡Regístrate ahora y descubre cómo TaskBuddy puede ayudarte a ser más productivo!
            </p>
        </div>
    </div>
</div>