<div class="container my-2" th:fragment="contenido">
    <div class="card bg-light">
        <div class="card-header bg-dark text-white" th:text="${titulo}"></div>
        <div class="card-body"></div>
        <form th:action="@{'/task/edit/{id}'(id=${task.id})}" th:object="${task}" th:method="PUT">
            <div class="card-body">
                <div class="row mb-3">
                    <label class="col-md-2" for="title">Título:</label>
                    <div class="col-md-6">
                        <input type="text" id="title" name="title" th:field="*{title}" required autofocus="autofocus"
                               class="form-control form-control-sm col-md-6" placeholder="Título"/>
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2" for="description">Descripción:</label>
                    <div class="col-md-6">
                        <input type="text" id="description" name="description" th:field="*{description}" required
                               autofocus="autofocus" class="form-control form-control-sm col-md-6"
                               placeholder="Descripción"/>
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2" for="expirationDate"
                    >Fecha de vencimiento:</label>
                    <div class="col-md-6">
                        <input type="date" th:field="*{expirationDate}" class="form-control form-control-sm col-md-6"
                               id="expirationDate" name="expirationDate" placeholder="Fecha de vencimiento"/>
                        <small></small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2" for="priority">Prioridad:</label>
                    <div class="col-md-6">
                        <select th:field="*{priority}" class="form-control form-control-sm" id="priority"
                                name="priority">
                            <option th:each="opcion : ${opciones}" th:value="${opcion}" th:text="${opcion}"></option>
                        </select>
                    </div>
                    <small></small>
                </div>
            </div>
            <div class="card-footer bg-dark">
                <input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
            </div>
        </form>
    </div>
</div>
