<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
  <head th:replace="~{templates/templates :: head}"></head>
  <body>
    <!-- Navbar -->
    <header th:replace="~{templates/templates :: header}"></header>

    <div class="container text-center py-3">
      <div class="panel bg-light">
        <div class="panel-heading">
            <h3 class="panel-title text-danger">
                <span><span th:text="${error}"></span></span> - <span><span th:text="${status}"></span></span>
            </h3>
        </div>
        <div class="panel-body">
            <img class="img-fluid" alt="Error" th:src="@{/img/error-404.png}" />
            <br>
            <h4>Solicitud incorrecta</h4>
            <br>
            <a class="btn btn-primary" th:href="@{/}">Volver al inicio</a>
        </div>
      </div>
    </div>

    <!--  Footer -->
    <footer th:replace="~{templates/templates :: footer}"></footer>
  </body>
</html>
