<div class="container mt-3" th:fragment="contenido">
    <div class="text-center d-flex flex-column align-items-center">
        <div>
            <img th:src="@{/img/TaskBuddy-Logo.png}" th:alt="TaskBuddy" width="450px" style="border-radius: 50%;">
        </div>
        <h1>TaskBuddy</h1>
        <p class="highlight">
            Tu aliado confiable para la gestión de tareas y productividad. En TaskBuddy, creemos en simplificar tu vida
            diaria, ayudándote a mantener tus tareas organizadas y lograr tus metas de manera eficiente.
        </p>
    </div>
</div>